#kfc -p base16-pop

#if [[ -e "$ALACRITTY_SOCKET" ]]; then
#    pycritty -f Consolas_NF
#fi
BUILD_PATHS="$(find build -type d -maxdepth 1|tr '\n' ':')"
export PATH="$(pwd)/.bin:$BUILD_PATHS:$PATH"

__scc_files(){
    find \
        meson/meson.build submodules/meson.build meson.build \
        scripts \
        Makefile \
        meson_options.txt \
        */*.c -type f\
    |egrep '\.txt$|Makefile$|\.sh$|\.build$|\.h$|\.c$'\
    |egrep -v 'submodules/'\
    |sort -u\
    |tr '\n' ' '
}

__scc_report(){
    scc -v -f wide --by-file $(__scc_files)
}

#do_src_report
__scc_report





