*/embeds/*
*/.cache
*/.attic
.attic
.cache
.nodemon.log
embeds
.n
*/deps/*
**/vendor/*
**/submodules/*
*/build
*/.cache
loader/meson/*
embed/meson/*
tmp/
*/*/subprojects/*
*//subprojects/*
*/subprojects/*
subprojects/*/
*unc-backup*
*/meson/*
*.png
