*/embeds/*
*/.cache
*/.attic
.attic
.cache
.nodemon.log
embeds
.n
**/vendor/*
**/submodules/*
*/build
*/.cache
loader/meson/*
embed/meson/*
tmp/
*unc-backup*
*.png
subprojects/termpaint
subprojects/parson
.attic
c_ansi_dev
google.html
.err
meson/deps/*/meson-local.build
subprojects/*/
.make-log-*
.make-log-*
.make-*log*
ansi-codes/.attic
loc.sh
jinja2-cli/bin
input.log
submodules/c_deps
.meson.build*.log
.meson-build*.log
